@if(Model!=null) {

<h1>Event: @Model.Name</h1>

<div>
    <p>Name: @Model.Name</p>
    <p>Location: @Model.Location</p>

</div>
}


@* public string EventName { get; set; }
    public string Description { get; set; }
    public string Location { get; set; }
    public DateTime StartDateTime { get; set; }
    public TimeSpan EventDuration { get; set; } *@
    